*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variables */
:root{
    --HEADFF: 20px;
    --TCLR:white;
    --TCLR--DARK:#333;
    --TCLR-LIGHT: #f5f5f57e;
}



/* header */
header{
    background: linear-gradient(to left , #54aca3,#3369a0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    }
    header img{
        margin-left: 100px;
    }
    header ul{
        list-style: none;
        display: flex;       
        margin-right: 80px;
    }
    header li{
        margin-right: 30px;
        font-size: var(--HEADFF);
       
    }
    header li a{
       text-decoration: none;
       color: var(--TCLR);
    }
    .arrow{
       top: 6px;
       margin-left: 5px;
       position: relative;/* ethu kudutha thn marum  */
    }
    
    .menu li{
        position: relative;
    }
   .submenu {
        display: none;
        position: absolute;
        min-width: 200px;
        border-radius: 8px;
        background-color: white;
        top: 40px;         
        padding: 15px;
    
    }
    .submenu a{
        color: var(--TCLR--DARK);
    }
    .menu li:hover .submenu{
        display: block;
    }
    .submenu li {
        margin-bottom: 20px;
    }
    /* main */
   .center{
        text-align: center;
        padding: 120px;
        background: linear-gradient(to left , #54aca3,#3369a0), url("image/hero-bg-2.jpg");
        /* background-size: cover;  */
        /* background-position: center; */
        /* color: white; */      
        
    }
    .center h1{
        font-size: 3rem;
        color: var(--TCLR);
        margin-bottom: 30px;
    }
    .center h2{
     color: var(--TCLR-LIGHT);
    }
    /* first section */
          
    .detail p{
        font-size: var(--HEADFF);
        color: #333333c7;
        
    }
    .detail h1{
        color: var(--TCLR--DARK);
    }
    .container{
    display: flex;
    margin-top: 80px;
    font-size: 18px ;
    color: var(--TCLR--DARK);
    line-height: 1.5;   
    animation: jump 1.2s 2 ease-in-out;     
}
@keyframes jump{
    0%,100%{
        top: 60px;        
        transform: scale(1);
    } 
    50%{
        top: 0;        
        transform: scale(1.1);
    }
}
.detail{
        padding: 100px;
    }
    .content{
        margin-top: 30px;
        margin-left: 30px;
    }

    /* second section */
    .container1{
    display: flex;
    padding: 100px;
    margin-top: -100px;
    animation: jump 1.2s 2 ease-in-out;
}
    .notify p{
     font-size: var(--HEADFF);
      color: #333333c7;
   }
.notify h1{
    color: var(--TCLR--DARK);
  }
.para{
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: var(--HEADFF);
    color: var(--TCLR--DARK);
}
    .symbol{
        display: flex;
           }
    .radius img{
        height: 150px;
        width: 150px;
        background-color: antiquewhite;
        border-radius: 50%;
        padding: 20px;
        margin-left: 80px;
     }  
     .radius h3{
        margin-left: 130px ;
        margin-top: 20px;
     }   
    .box{
        height: 500px;
        width: 900px;
        background-color: black;
        border-radius: 10px;
        margin-left: 30px;
    }
    .block{
        font-size: 15px;
        line-height: 1.5;
        padding: 25px;
    }
    .box h3{
        color: #54aca3;
    }
    .box p{
        color: var(--TCLR);
        font-size: var(--HEADFF);
    }
    .monitor {
        margin-left: 20px;
        
    }
    .tick{
        color: #54aca3;
    }
    .monitor button{
        padding: 10px 20px;
        background: linear-gradient(to left , #54aca3,#3369a0);
        border-radius: 8px;
        border: none;
        color: var(--TCLR);
        font-size: 18px;
       margin-left: 25px;
       margin-top: 20px;
    }
    /* third section  */
    .incident p{
         font-size: var(--HEADFF);
       color: #333333c7;
    }
    .incident h1{
        color: var(--TCLR--DARK);
    }
    .incident{
        margin-bottom: 100px;
    }
    .Management{
        font-size: var(--HEADFF);
        color: var(--TCLR--DARK);
        line-height: 1.5;
    }
    .Management p{
        margin-bottom: 20px;
        
    }
    .container2{
        display: flex;
        padding: 70px;
        animation: jump 1.2s 2 ease-in-out;
    }
    /* footer */
    
    footer{
        background: #2a559f;
        text-align: center;
        padding: 60px;
    }
    footer p{
        color: rgba(255, 255, 255, 0.918);
        font-size: 18px;
        cursor: pointer;
        }
        .last{
            display: flex;
           margin-left: 500px;
        }
        .icon{
            border: 1px solid rgba(255, 255, 255, 0.726);
            border-radius: 50%;
            background-color: #2a559f;
            padding: 10px;
            margin-right: 20px;            
            
        }
        .icon:hover{
            background-color: aliceblue;
        }
    
    
    
    
    
    
    
    
    
    
    
    
    
    